{% extends 'base.html' %}

{% block body %}
    <div class='container my-4'>
  <!--form for creating an account-->
  <h3>Create An Account</h3>
  <form method="POST" action='signup'>
    {% csrf_token %}
    <div class="form-group my-4">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname">
    </div>
    <div class="form-group my-4">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname">
    </div>
    <div class="form-group my-4">
      <label for="lname">Medical License Number</label>
      <input type="text" class="form-control" id="medical_license_number" placeholder="Medical License Number" name="medical_license_number">
    </div>
    <div class="form-group my-4">
      <label for="lname">Proof of License</label>
      <input type="file" class="form-control" accept="application/pdf" id="file" name="uploaded_file">
    </div>
    <div class="form-group my-4">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="fname123" name="username">
    </div>
    
    <div class="form-group my-4">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="pheobe1234@example.com" name="email">
    </div>
    <div class="form-group my-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="enter new password" name="password">
    </div>
    <div class="form-group my-4">
        <label for="password">Confirmed Password</label>
        <input type="password" class="form-control" id="confpassword" placeholder="confirm your password" name="confpassword">
    </div>
    <div class="form-group my-4">
        <label for="country">country</label>
        <input type="text" class="form-control" id="country" placeholder="USA" name="country">
    </div>
    <div class="form-group my-4">
        <label for="city">city</label>
        <input type="text" class="form-control" id="city" placeholder="New York" name="city">
    </div>
    <div class="form-group my-4">
        <label for="country">D.O.B.</label>
        <input type="date" class="form-control" id="dob" placeholder="YYYY-MM-DD" name="dob">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
{% endblock body %}