{% extends 'patient/records_base.html' %}

{% block records_body %}

{% if records %}
<table class="table">
  <thead>
    <tr>
      <th>File name</th>
      <th>Description</th>
      <th>QR Code</th>
      <th>Authorised by</th>
      <th>Date uploaded</th>
    </tr>
  </thead>
  <tbody>
    {% for row in records %}
    <tr>
      <td><a href="{{row.name}}">{{row.name}}</a></td>
      <td>{{row.description}}</td>
      <td><img src="{{row.qr}}" alt="qr code associated with record."/></td>
      <td>{{row.authorisedBy}}</td>
      <td>{{row.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No records available.</p>
{% endif %}


{% endblock records_body %}