{% extends 'base.html' %}
{% block body %}
<div class="container-flex" style="background-color:#8bcfb1; height:100vh; padding: 10vh;">
  <div class="row  justify-content-bottom">
    <div class="col-sm-6">
      <h1>Our services</h1>
      <img src="/static/img/medical-stock-photo.jpg" style="max-width:100%" alt="Medical stock image. ">
    </div>
    <div class="col-sm-6 text-left">
      <div class="row" style="padding-top:4vh;">
        <div class="col-sm-2">
          <h1>01</h1>
        </div>
        <div class="col-sm-10">
          <h2>Access your info</h2>
          <p>View all of your medical data in one place, and keep track of all information that your medical practioner has shared with you.</p>    
        </div>
      </div>

      <div class="row" style="padding-top:4vh;">
        <div class="col-sm-2">
          <h1>02</h1>
        </div>
        <div class="col-sm-10">
          <h2>Edit your existing data</h2>
          <p>Keep your records up-to-date and accurate without needing to notify your Doctor directly.</p>
        </div>
      </div>

      <div class="row" style="padding-top:4vh;">
        <div class="col-sm-2">
          <h1>03</h1>
        </div>
        <div class="col-sm-10">
          <h2>Prepare for the worst</h2>
          <p>Add your emergency contacts, allergies and anything that you feel should impact your care.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
