body{
    background-color: #e0f2f1;
}
.navbar{
    background-color: #00bfa5; 
    color:white;
}

h1 {
  font: "Aileron Heavy";
  color: white;
  font-weight: 1000;
  font-size: 80;
}

.highlight {
  font: "Aileron Heavy";
  color: white;
  background-color: #f8a347;
  margin: 5px;
  padding: 10px;
}

a {
  text-decoration: None;
  color: white;
}

.flex-column {
  background-color: #00bfa5; 
  justify-content: unset;
}
.flex-column * {
  width: 100%;
  padding-left: 10px;
  font-size: 16;
}